@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: gives clean smooth rendering */
html, body {
  height: 100%;
}

body {
  margin: 0;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
